<h2>State Management Demo</h2>
<ul>
    <li><a href="/State/ViewDataDemo">ViewData & ViewBag</a></li>
    <li><a href="/State/TempDataSet">TempData</a></li>
    <li><a href="/State/SessionSet">Session</a></li>
    <li><a href="/State/CookieSet">Cookies</a></li>
</ul>
